body {
    background-color: #FFFDFA;
    height: 100%;
    margin: 0;
    width: 100%;
}
.container-header {
    top: 0;
    left: 0;
    display: grid;
    position: fixed;
    grid-template-columns: 500px auto 200px 200px 200px;
    grid-template-rows: 100px;
    column-gap: 0;
    row-gap: 0;
    z-index: 2;
    min-width: 100%;
}
.container {
    top: 120px;
    position: relative;
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 15px;
    z-index: 1;
}
.container-game {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: auto 200px 200px 200px 200px auto;
    grid-template-rows: auto 200px 200px 200px 200px auto;
    column-gap: 100px;
    row-gap: 100px;
    z-index: 1;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}
.item-header {
    background-color: #1c87c9;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    justify-self: stretch;
    align-self: stretch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
}
